<?xml version="1.0"?>

<!--
/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Creative Commons License BY-NC-ND.
 * By Attribution (BY) - You can share this file unchanged, including
 * this copyright statement.
 * Non-Commercial (NC) - You can use this file for non-commercial activities.
 * A commercial license can be purchased separately from mventory.com.
 * No Derivatives (ND) - You can make changes to this file for your own use,
 * but you cannot share or redistribute the changes.
 *
 * See the full license at http://creativecommons.org/licenses/by-nc-nd/4.0/
 *
 * @package MVentory/BackgroundGenie
 * @copyright Copyright (c) 2015 mVentory Ltd. (http://mventory.com)
 * @license http://creativecommons.org/licenses/by-nc-nd/4.0/
 */
-->

<config>
  <modules>
    <MVentory_BackgroundGenie>
      <version>0</version>
    </MVentory_BackgroundGenie>
  </modules>

  <adminhtml>
    <acl>
      <resources>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <bg_genie>
                      <title>mVentory BackGround Genie</title>
                    </bg_genie>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>

  <default>
    <bg_genie>
      <settings>
        <backup_dir>backup/</backup_dir>
        <exclude_new>1</exclude_new>
        <auto_replace>1</auto_replace>
        <log_file>var/log/imglog.csv</log_file>
        <dropbox_path>/</dropbox_path>
        <ideal_width>900</ideal_width>
        <ideal_height>900</ideal_height>
      </settings>
    </bg_genie>
  </default>
</config>
